*{
    margin: 0;
    padding: 0;
}

body{
    font-size: Arial, Helvetica, sans-serif;
    background-color: black;
    
}

.cabecalho{
    
    background-color: rgb(248, 248, 248);
    height: 316px;
    
}

/*configuração imagem logo principal*/
#logo{
    height: 280px;
    margin-left: 200px;
    margin-right: 100px;
}

/*configuração imagem "Free Pass"*/
#free{
    margin-right: 10px;
    width: 210px;
    height: 150px;
}

#menus_superior{
    list-style: none;
    background-color: rgb(44, 43, 43);
    height: 38px;
    text-align: center;
    
}

/*Alterar a caracteristica dos itens da lista (os menus)*/
#menus_superior div ul li{
    /*deixar tudo lado a lado*/
    display: inline;
    
   
}


#menus_superior div li a{
    
    width: 100px;
    /*cor das letras do menu*/
    color: white;
    /*tamanho da fonte*/
    font-size: 14px;
    /*retira toda decoração do texto*/
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .6s ;
}

#menus_superior div li a:hover{
    background-color: yellow;
    color: #444343;

}
